<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953138134771-8cf7u4dpbddq6b5bnteiv2lpmuo3gd4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953138134771-8cf7u4dpbddq6b5bnteiv2lpmuo3gd4a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>953138134771-d982uj29mvc429aans64va21iga5omdn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUZ0I0Hc5VgGo5OgxiOJwVRXV8g4CODMk</string>
	<key>GCM_SENDER_ID</key>
	<string>953138134771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.selddon.guardiao.cliente</string>
	<key>PROJECT_ID</key>
	<string>guardiao-jus</string>
	<key>STORAGE_BUCKET</key>
	<string>guardiao-jus.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953138134771:ios:a505169c16680d26f30186</string>
</dict>
</plist>